

.u-section-1 .u-sheet-1 {
  min-height: 784px;
}

.u-section-1 .u-group-elements-1 {
  min-height: 80px;
  margin-top: 82px;
  margin-bottom: 0;
}

.u-section-1 .u-text-1 {
  font-size: 3rem;
  line-height: 1.1;
  font-weight: normal;
  margin: 0;
}

.u-section-1 .u-line-1 {
  height: 6px;
  transform-origin: left center 0px;
  width: 795px;
  margin: 22px auto 0;
}

.u-section-1 .u-form-1 {
  height: 544px;
  width: 570px;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  margin: 0 auto 60px;
}

.u-section-1 .u-form-group-2 {
  margin-left: 0;
}

.u-section-1 .u-form-group-3 {
  margin-left: 0;
}

.u-section-1 .u-form-group-4 {
  margin-left: 0;
}

.u-section-1 .u-form-group-5 {
  margin-left: 0;
}

.u-section-1 .u-btn-1 {
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  width: 100%;
  background-image: none;
  padding: 12px 0 13px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-group-elements-1 {
    height: auto;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-group-elements-1 {
    min-height: 75px;
  }

  .u-section-1 .u-line-1 {
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-1 .u-form-1 {
    margin-top: 5px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-form-1 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-text-1 {
    font-size: 1.875rem;
  }

  .u-section-1 .u-form-1 {
    width: 340px;
  }
}