

.u-section-1 .u-sheet-1 {
  min-height: 654px;
}

.u-section-1 .u-group-1 {
  min-height: 352px;
  height: auto;
  margin: 151px auto 60px;
}

.u-section-1 .u-container-layout-1 {
  padding: 22px 30px;
}

.u-section-1 .u-text-1 {
  text-transform: uppercase;
  font-size: 2.25rem;
  font-family: Roboto, sans-serif;
  letter-spacing: 3px;
  font-weight: 700;
  font-style: italic;
  --animation-custom_in-translate_x: -200px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 0 1px;
}

.u-section-1 .u-text-2 {
  font-size: 4.5rem;
  font-weight: 700;
  --animation-custom_in-translate_x: 300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 10px 0 0;
}

.u-section-1 .u-btn-1 {
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  background-image: linear-gradient(#2cccc4, #478ac9);
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 32px auto 0;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 539px;
  }

  .u-section-1 .u-group-1 {
    min-height: 303px;
    margin-top: 107px;
    margin-right: initial;
    margin-left: initial;
    height: auto;
  }

  .u-section-1 .u-container-layout-1 {
    padding-bottom: 6px;
  }

  .u-section-1 .u-text-1 {
    margin-top: 13px;
    margin-right: 0;
    margin-left: 0;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 400px;
  }

  .u-section-1 .u-group-1 {
    min-height: 215px;
    margin-top: 83px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-container-layout-1 {
    padding-bottom: 16px;
  }

  .u-section-1 .u-text-1 {
    width: auto;
    margin-top: 20px;
  }

  .u-section-1 .u-text-2 {
    width: auto;
    font-size: 2.25rem;
  }

  .u-section-1 .u-btn-1 {
    margin-top: 21px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 317px;
  }

  .u-section-1 .u-group-1 {
    min-height: 208px;
    margin-top: 42px;
    margin-bottom: 0;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-container-layout-1 {
    padding-bottom: 22px;
  }

  .u-section-1 .u-text-1 {
    font-size: 0.875rem;
    margin-top: 26px;
  }

  .u-section-1 .u-btn-1 {
    font-size: 0.75rem;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 350px;
  }

  .u-section-1 .u-group-1 {
    min-height: 196px;
    margin-top: 21px;
    margin-bottom: 1px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-1 .u-text-1 {
    font-size: 1.125rem;
    margin-top: 15px;
  }

  .u-section-1 .u-text-2 {
    font-size: 3rem;
    margin-top: 17px;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 88px;
}

.u-section-2 .u-text-1 {
  font-size: 2.25rem;
  margin: 25px 0;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 89px;
  }

  .u-section-2 .u-text-1 {
    width: auto;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 76px;
  }

  .u-section-2 .u-text-1 {
    font-size: 1.875rem;
  }
}.u-section-3 .u-sheet-1 {
  min-height: 456px;
}

.u-section-3 .u-list-1 {
  margin-bottom: 30px;
  margin-top: 0;
}

.u-section-3 .u-repeater-1 {
  grid-gap: 20px 20px;
  grid-template-columns: calc(33.3333% - 13.3333px) calc(33.3333% - 13.3333px) calc(33.3333% - 13.3333px);
  min-height: 375px;
}

.u-section-3 .u-list-item-1 {
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
}

.u-section-3 .u-container-layout-1 {
  padding: 15px 10px;
}

.u-section-3 .u-image-1 {
  height: 238px;
  margin: 0;
}

.u-section-3 .u-text-1 {
  margin: 9px 0 0;
}

.u-section-3 .u-text-2 {
  margin-left: 0;
  margin-right: 0;
  margin-bottom: 0;
  font-size: 1.875rem;
  font-weight: 700;
}

.u-section-3 .u-icon-1 {
  width: 51px;
  height: 51px;
  margin: 20px auto 0;
  padding: 11px;
}

.u-section-3 .u-list-item-2 {
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
}

.u-section-3 .u-container-layout-2 {
  padding: 15px 10px;
}

.u-section-3 .u-image-2 {
  height: 238px;
  margin: 0;
}

.u-section-3 .u-text-3 {
  margin: 9px 0 0;
}

.u-section-3 .u-text-4 {
  margin-left: 0;
  margin-right: 0;
  margin-bottom: 0;
  font-size: 1.875rem;
  font-weight: 700;
}

.u-section-3 .u-icon-2 {
  width: 51px;
  height: 51px;
  margin: 20px auto 0;
  padding: 11px;
}

.u-section-3 .u-list-item-3 {
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
}

.u-section-3 .u-container-layout-3 {
  padding: 15px 10px;
}

.u-section-3 .u-image-3 {
  height: 238px;
  margin: 0;
}

.u-section-3 .u-text-5 {
  margin: 9px 0 0;
}

.u-section-3 .u-text-6 {
  margin-left: 0;
  margin-right: 0;
  margin-bottom: 0;
  font-size: 1.875rem;
  font-weight: 700;
}

.u-section-3 .u-icon-3 {
  width: 51px;
  height: 51px;
  margin: 20px auto 0;
  padding: 11px;
}

@media (max-width: 1199px) {
  .u-section-3 .u-repeater-1 {
    min-height: 309px;
  }

  .u-section-3 .u-image-1 {
    height: 194px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-image-2 {
    height: 194px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-image-3 {
    height: 194px;
    margin-right: initial;
    margin-left: initial;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-repeater-1 {
    grid-template-columns: calc(50% - 9.99997px) calc(50% - 9.99997px);
    min-height: 710px;
  }

  .u-section-3 .u-image-1 {
    height: 225px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-image-2 {
    height: 225px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-image-3 {
    height: 225px;
    margin-right: initial;
    margin-left: initial;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-repeater-1 {
    grid-template-columns: 100%;
  }

  .u-section-3 .u-image-1 {
    height: 344px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-image-2 {
    height: 344px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-image-3 {
    height: 344px;
    margin-right: initial;
    margin-left: initial;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-image-1 {
    height: 212px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-image-2 {
    height: 212px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-image-3 {
    height: 212px;
    margin-right: initial;
    margin-left: initial;
  }
}